TECHDESK_PORT=8080
TECHDESK_PROJECT_NAME=techdesk-prod
TECHDESK_VERSION=1.2.1

POSTGRES_DB=techdesk
POSTGRES_USER=techdesk
POSTGRES_PASSWORD=

DATABASE_URL=

JWT_SECRET=
JWT_EXPIRES_IN=8h

CORS_ORIGIN=
SWAGGER_ENABLED=false
LOG_LEVEL=info

ADMIN_NAME=Administrador
ADMIN_LOGIN=admin
ADMIN_PASSWORD=

TECHDESK_API_IMAGE=ghcr.io/welissonhrq21/techdesk-pro-api:1.2.1
TECHDESK_FRONTEND_IMAGE=ghcr.io/welissonhrq21/techdesk-pro-frontend:1.2.1
